.blockHeader {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    justify-content: space-between;
    cursor: pointer;
}

.blockTitle {
    height: 100%;
    text-align: left;
    overflow: hidden;
    margin-left: .5em;
    padding-top: .2em;
}

.buttonsContainer {
    background: black;
    display: flex;
    height: 100%;
    float: right;
    padding: .5em;
    align-items: center;
}

.blockButton {
	height: 100%;
    padding: 0px;
    border: none;
    background-color: transparent;
    display: block;
    float: left;
    margin: 5px;
}

.blockButton:focus {
    outline: none;
}

.blockButton svg {
    width: 14.14px;
    height: 14.14px;
    vertical-align: top;
}

.blockButton svg path{
    fill: #54555c;
}
