.blockHeader {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
}

.buttonsContainer {
    position: absolute;
    right: 0px;
    background: black;
    padding: .5em;
}

.blockButton {
	width: 14.14px;
	height: 14.14px;
    padding: 0px;
    z-index: 90;
    border: none;
    background-color: transparent;
    display: block;
    float: left;
    margin: 5px;
}

.blockButton:focus {
    outline: none;
}

.blockButton svg {
    width: 14.14px;
    height: 14.14px;
    vertical-align: top;
}

.blockButton svg path{
    fill: #54555c;
}
