button.dashBoardCardOption, button.inputCardOption, 
button.dashBoardCardOption:focus, button.inputCardOption:focus {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background: none;
  outline: none !important;
  align-items: center;
  margin: 0px;
}

button.dashBoardCardOption svg, button.inputCardOption svg {
  fill: #54555c;
  width: 1.2em;
  height: 1.2em;
}

button.dashBoardCardOption:hover svg, button.inputCardOption:hover svg {
  fill: whitesmoke;
}

.dashBoardCard, .inputCard {
  border-radius: 0.2em !important;
  border: 1px solid rgb(90 90 90 / 27%);
  background-color: var(--global-colorInputBg);
}

#rawInputList {
  border-radius: 0.5em !important;
  margin: 0%;
  padding-inline-start: 0px;
}

.card-header.rawInputCard-header {
  border-radius: 0px;
}

.rawInputsButton {
  padding-top: 1.25px;
}

.dashBoardCard-header, .inputCard-header {
  background-color: var(--global-colorList);
}

.dashBoardCard cite {
  font-size: 0.8rem;
}

.inputCard p {
  font-size: 0.8rem;
}

.inputCard .card-body p {
  margin-bottom: 0px;
  margin-block-end: 0em;
  margin-block-start: 0em;
} 