button.dashBoardCardOption, button.inputCardOption, 
button.dashBoardCardOption:focus, button.inputCardOption:focus, .inputCardWrapper {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background: none;
  outline: none !important;
  align-items: center;
  margin: 0px;
}

button.dashBoardCardOption svg, button.trashDashboardCardOption svg path, .inputCardIcon {
  fill: #54555c;
  width: 1.2em;
  height: 1.2em;
}

button.inputCardOption svg, button.trashInputCardOption svg path {
  fill: darkgray;
  width: 1.2em;
  height: 1.2em;
}

button.dashBoardCardOption:hover svg, button.inputCardOption:hover svg, button.trashDashboardCardOption:hover svg path,
button.trashInputCardOption:hover svg path {
  fill: var(--global-colorFont);
}

.dashBoardCard {
  border-radius: 0.2em !important;
  border: 1px solid rgb(90 90 90 / 27%);
  background-color: var(--global-colorInputBg);
}

.inputCard {
  border-radius: 32px;
  background-color: var(--global-colorInputBg);
  padding: 0.4rem;
}

.inputCardWithError {
  border-radius: 32px;
  background-color: rgba(214, 36, 31, 0.34);
  padding: 0.4rem;
}

.inputCard:hover {
  background-color: #5e5e5e;
}

.inputCardIcon {
  margin: 0px 6px 0px 6px;
}

.inputCardIcon svg {
  vertical-align: top;
}

.inputCardTitle {
  font-weight: bold;
}

.rawInputsButton {
  margin-top: 0.8rem;
}

.dashBoardCard-header {
  background-color: var(--global-colorList);
}

.dashBoardCard cite {
  font-size: 0.8rem;
}

.card-body p {
  margin-bottom: 0px;
  margin-block-end: 0em;
  margin-block-start: 0em;
} 