#DashBoard {
	background-color: #eff4f7;
	overflow-y: auto;
}

.grid-stack-item-content {
	box-shadow: 0px 1px 22px -12px #607D8B;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-flow: column;
}

.grid-stack-item{
	overflow:hidden;
}

.editingBlock {
	box-shadow: 10px 10px 22px -12px #007bff;
}