body,
html,
#app-root {
  font-family: system-ui;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
  overflow-y: overlay;
}

:root {
  --global-colorList: black;
  --global-colorMenu: #1a1a1a;
  --global-colorInputBg: #3c3c3c;
  --global-colorFont: whitesmoke;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.308);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}

button svg {
  fill: #54555c;
  width: 1.8em;
  height: 1.8em;
}

input,
textarea {
  -moz-user-select: text;
}

input,
textarea {
  color: var(--global-colorFont) !important;
  background-color: var(--global-colorInputBg) !important;
  border-radius: 0px !important;
  border: 1px solid #a9a9a963 !important;
}

small {
  font-weight: bold;
  font-size: 0.9em;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


button.green-btn {
  border-radius: 3px;
  box-shadow: none;
  color: #929191;
  outline: none;
  background-color: rgba(92, 184, 92, 0.2);
  border: solid 1px;
  border-color: rgb(92, 184, 92);
}

button.green-btn:hover {
  color: white;
  background-color: rgb(92, 184, 92);
  border-color: rgb(91, 206, 91);
}

button.red-btn {
  border-radius: 3px;
  box-shadow: none;
  color: #929191;
  outline: none;
  border: solid 1px;
  background-color: rgba(217, 65, 61, 0.2);
  border-color: rgb(217, 65, 61);
}

button.red-btn:hover {
  color: white;
  background-color: rgb(217, 65, 61);
  border-color: rgb(250, 65, 59);
}

button.orange-btn {
  border-radius: 3px;
  box-shadow: none;
  color: #929191;
  outline: none;
  background-color: #ffc6197a;
  border: solid 1px;
  border-color: #d39e00;
}

button.orange-btn:hover {
  color: white;
  background-color: #ffb124c7;
  border-color: #ffc619;
}

