#SideMenu {
  background-color: var(--global-colorMenu);
}

#Menus {
  background-color: var(--global-colorMenu);
  overflow: hidden;
}

.menuContainer {
  height: 100%;
}

.menuBody {
  height: 100%;
  overflow-y: auto;
  overflow: overlay;
}

.menuHeader {
  font-size: initial;
  border-bottom: 6px solid var(--global-colorList);
  color: lightgray;
  padding: 0.5em;
  padding-bottom: 0px;
}

.menuSpliter {
  border-radius: 0px !important;
  border: none;
  color: darkgray;
  background-color: var(--global-colorMenu);
  overflow-y: auto;
}

.menuSpliter-header {
  border-radius: 0px !important;
  border-radius: 0px !important;
  padding: 0px;
  font-weight: bold;
  padding-left: 0.4em;
  background-color: var(--global-colorInputBg) !important;
  font-size: 0.88em;
  color: darkgray;
  border: none;
}

.menuSpliter-header:hover {
  cursor: pointer;
}

.menuContainer {
  height: 100%;
}

.pathInput svg {
  width: 70% !important;
  height: auto !important;
}

.pathInput input:hover {
  cursor: pointer;
}

.formButtonWithIconPrepend {
  padding: 0px;
  width: 2.5em;
  border-radius: 0px;
  box-shadow: none;
  background: black !important;
  outline: none !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #a9a9a963 !important;
  border-right: none;
}

button.formButtonWithIconPrepend {
  padding: 0px;
  width: calc(1.5em + .5rem + 2px);
  height: auto;
  box-shadow: none;
  background: black !important;
  outline: none !important;
  border: 1px solid #54555c !important;
}

button.formButtonWithIconPrepend svg {
  fill: #54555c;
  width: 85%;
  height: 70%;
}

.formButtonWithIconPrepend:hover svg {
  fill: white;
}

button.formButtonWithIcon:hover svg {
  fill: whitesmoke;
}

.formCenteredBtn {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.blockPreviewContainer{
  height: 6em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-top: 0.6em;
}

.blockPreview {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  background-color: gray;
}

.blockPreview:hover{
  cursor: pointer;
}